<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download</title>
    <style>
      * {
        box-sizing: border-box;
      }
      .container {
        height: 90vh;
        width: 50%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>
        Your file is ready!
        <hr />
        You can download from this link :
        <a href="<%= link %>" download><%= link %></a>
      </p>
    </div>
  </body>
</html>
