<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <style>
      body {
        color: red;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    We couldn't find any json file in this url. You can try again if you want!
  </body>
</html>
